<ion-view view-title="Cricket">
<ion-content>
<ion-refresher
pulling-text="Pull to refresh..."
on-refresh="refreshMatchDetails(true)">
</ion-refresher>
<div class="list">
  <label class="item item-input item-divider item-select">
    <div class="item input-label">
      Match List for Today:
    </div>
    <select ng-options="match as match.description for match in matchList track by match.unique_id"  ng-model="score.currentMatchData"  ng-change="updateMatch(true)">
    </select>
  </label>
</div>
<div ng-show="score.currentMatchData">
            <!-- <ion-list>
            <div class="card stable-bg">
               <div class="item">
                   Match Details: {{match.date + " " + match.time}} at {{match.venue}}
               </div>
               <div class="item item-divider item-text-wrap">
                   No of Overs: {{match.overs}}

                   Innings: {{match.innings}}
               </div>
               <div class="item item-divider">
                   Batting Team: {{match.team_list[match.active_team].name}}
               </div>
            </div>
            <div class="card stable-bg">
    	       <div class="item">
    	           Team Name: {{match.team_list[0].name}}
    	       </div>
    	       <div class="item item-divider item-text-wrap">
    	           No of Wickets Taken: {{match.team_list[0].wickets}}

    	           No of Balls Played: {{match.team_list[0].ball}}
    	       </div>
        	   <div class="item item-divider">
                   Team Score: {{match.team_list[0].score}}
        	   </div>
        	</div>
        	<div class="card stable-bg">
               <div class="item">
                   Team Name: {{match.team_list[1].name}}
               </div>
               <div class="item item-divider item-text-wrap">
                   No of Wickets Taken: {{match.team_list[1].wickets}}

                   No of Balls Played: {{match.team_list[1].ball}}
               </div>
               <div class="item item-divider">
                   Team Score: {{match.team_list[1].score}}
               </div>
            </div>
          </ion-list> -->
          <div class="list">
            <div class="item card">
              <div class="item item-divider">
                Current Score: {{score[score.currentMatch].current_score}}
              </div>
            </div>
<!--         <div class="item card">
          <div class="item item-divider">
            Update Extras: {{score[score.currentMatch].extras + increment.extras}}
          </div>-->
          <div class="item card">
            <div class="item item-divider">
              Current Wickets: {{score[score.currentMatch].current_wickets}}
            </div>
          </div>
        </div>
        <div ng-hide="score.currentMatchData">
          <button class="button button-full button-balanced">
            No Data is Available
          </button>
        </div>
      </div>
    </ion-content>
    <div class="bar bar-footer bar-dark">
     <div class="title">REVA Live Scores</div> 
     <div class="buttons buttons-right"> 
       <button class="button button-royal bold button-fab" ng-click="refreshMatchDetails(true)"> 
         <i class="icon ion-loop light"></i> 
       </button> 
     </div>
   </div>
 </ion-view>
