<ion-view view-title="Cricket">
<ion-content>
<ion-refresher
pulling-text="Pull to refresh..."
on-refresh="refreshMatchDetails(true)">
</ion-refresher>
<div class="list">
  <label class="item item-input item-divider item-select">
    <div class="item input-label">
      Match List for Today:
    </div>
    <select ng-options="match as match.description for match in matchList track by match.unique_id"  ng-model="score.currentMatchData"  ng-change="updateMatch(true)">
    </select>
  </label>
</div>
        <div ng-show="showData">
            <ion-list>
            <div class="card stable-bg">
               <div class="item">
                   Team : {{match.team1.name}}
                   <span ng-show="score[score.currentMatch].batting_team === match.team1.name">[ Batting ]</span>
               </div>
                <div class="item item-divider item-text-wrap">
                   Score : {{match.team1.score}}
               </div>
               <div class="item item-divider item-text-wrap">
                   Wickets : {{match.team1.wickets}}
               </div>
                <div class="item item-divider item-text-wrap">
                   Extras : {{match.team1.extra}}
               </div>
               <div class="item item-divider">
                   No of Balls : {{match.team1.ball}}
               </div>
            </div>
            <div class="card stable-bg">
               <div class="item">
                   Team : {{match.team2.name}}
                   <span ng-show="score[score.currentMatch].batting_team === match.team2.name"> Batting</span>
               </div>
                <div class="item item-divider item-text-wrap">
                   Score : {{match.team2.score}}
               </div>
               <div class="item item-divider item-text-wrap">
                   Wickets : {{match.team2.wickets}}
               </div>
                <div class="item item-divider item-text-wrap">
                   Extras : {{match.team2.extra}}
               </div>
               <div class="item item-divider">
                   No of Balls : {{match.team2.ball}}
               </div>
            </div>
            <h3>{{match.time}}</h3>
            </ion-list>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-dark">
     <div class="title">REVA Live Scores</div> 
     <div class="buttons buttons-right"> 
       <button class="button button-royal bold button-fab" ng-click="refreshMatchDetails(true)"> 
         <i class="icon ion-loop light"></i> 
       </button> 
     </div>
   </div>
 </ion-view>
