<ion-tabs class="tabs-striped tabs-top tabs-icon-top">
    <ion-tab title="Cricket" icon-on="ion-archive" icon-off="ion-archive" ui-sref="app.member.update_scoreboard.cricket">
      <ion-nav-view name="update_scoreboard_cricket"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Basketball" icon-on="ion-archive" icon-off="ion-archive" ui-sref="app.member.update_scoreboard.basketball">
      <ion-nav-view name="update_scoreboard_basketball"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Football" icon-on="ion-archive" icon-off="ion-archive" ui-sref="app.member.update_scoreboard.football">
      <ion-nav-view name="update_scoreboard_football"></ion-nav-view>
    </ion-tab>
</ion-tabs>