<ion-view view-title="Update Football Scoreboard">
  <ion-content>
    <div ng-show="loginData.loginSuccess">
      <div class="bar bar-header bar-light">
        <h1 class="title">Select Match List</h1>
      </div>
      <form ng-submit="submitData()" name="submitForm">
      <div class="list">
        <label class="item item-input item-divider item-select">
            <div class="item input-label">
                Match List for Today:
            </div>
            <select ng-options="match as match.description for match in matchList track by match.unique_id"  ng-model="score.currentMatchData"  ng-change="updateMatch(true)">
            </select>
          </label>
      </div>
      <label class="item item-input item-divider item-select" ng-show="score.currentMatch">
        <div class="item input-label">
            Select Team:
        </div>
        <select ng-model="score.currentTeam" ng-options="team for team in score[score.currentMatch].team_list">
        </select>
      </label>
      <div class="list" ng-show="score.currentTeam">
        <div class="item card">
          <div class="item item-divider">
            Current Score: {{score[score.currentMatch].current_goals}} + Update Baskets: {{increment.goals}} = {{score[score.currentMatch].current_goals + increment.goals}}
          </div>
          <div class="item item-text-wrap">
            <ion-list>
              <ion-radio ng-model="increment.goals" ng-value="1">1</ion-radio>
              <ion-radio ng-model="increment.goals" ng-value="2">2</ion-radio>
            </ion-list>
          </div>
        </div>
        <div class="item card">
          <div class="item item-divider">
            Current Bonus: {{score[score.currentMatch].current_bonus}} + Update Bonus: {{increment.bonus}} = {{score[score.currentMatch].current_bonus + increment.bonus}}
          </div>
          <div class="item item-text-wrap row">
            <div fs-counter value="increment.bonus"
              data-min="0"
              data-step="1"
              data-addclass="col"
              data-editable></div>
          </div>
        </div>
        <div class="item card">
          <div class="item item-divider">
            Current Fouls: {{score[score.currentMatch].current_fouls}} + Update Fouls: {{increment.fouls}} = {{score[score.currentMatch].current_fouls + increment.fouls}}
          </div>
          <div class="item item-text-wrap row">
            <div fs-counter value="increment.fouls"
              data-min="0"
              data-step="1"
              data-addclass="col"
              data-editable></div>
          </div>
        </div>
     </div>
     <button class="button button-full button-balanced" ng-click="updateScore()" ng-show="score.currentMatch">
          Submit
    </button>
      <button type="button" ng-click="logout()" class="button button-block button-dark">
          Logout
      </button>
    </div>
    <div ng-hide="loginData.loginSuccess">
      <button class="button button-full button-balanced" ng-click="openLogin()">
          Login
      </button>
    </div>
  </ion-content>
</ion-view>
